@(message: String)

@main(0){
    <h2>@message <small>Your reservations (<span data-bind="text: seats().length"></span>)</small></h2>

    <blockquote>
        Don't let what others think stop you from doing the things you love.
        <footer>Adolf Hitler</footer>
    </blockquote>

    <table class="table table-striped table-bordered table-hover table-condensed">
    <thead><tr>
            <th>Passenger name</th><th>Meal</th><th>Surcharge</th><th></th>
        </tr></thead>
            <!-- Todo: Generate table body -->
        <tbody data-bind="foreach: seats">
            <tr>
                <td><input class="form-control" data-bind="value: name"></input></td>
                <td> <select class="form-control" data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"></select></td>
                <td data-bind="text: formattedPrice"></td>
                <td class="td danger"><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" data-bind="click: addSeat, enable: seats().length < 5">Reserve another seat</button>

    <h3 data-bind="visible: totalSurcharge() > 0">
        Total surcharge: $<span data-bind="text: totalSurcharge().toFixed(2)"></span>
    </h3>
}
